<div class="navbar">
    <div class="icon">
        <h2 class="logo">Product Community</h2>
    </div>

    <div class="menu">
        <ul>
            <li><a [routerLink]="''">HOME</a></li>
            <li>
                <h6>WELCOME {{getUser()}}</h6>
            </li>
            <li><a [routerLink]="'/userdashboard'">DASHBOARD</a></li>
            <li><a (click)="logout()">LOGOUT</a></li>

        </ul>
    </div>

</div>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col align-items-center card">
            <div class="card-header">
                <h5>
                    <p>Ask For Review</p>
                </h5>
            </div>
            <form class="form" (ngSubmit)="askReview()">
                <table>
                    <tr>
                        <th style="width: 50%;">
                            <p>Product code</p>
                        </th>
                        <th><input class="input" type="number" name="productCode" [(ngModel)]="productData.productCode"
                                placeholder="Product code"></th>
                    </tr>
                    <tr>
                        <th style="width: 50%;">
                            <p>Product Brand</p>
                        </th>
                        <th><input type="text" name="productBrand" [(ngModel)]="productData.productBrand"
                                placeholder="Product Brand"></th>
                    </tr>
                    <tr>
                        <th style="width: 50%;">
                            <p>Product Name</p>
                        </th>
                        <th><input type="text" name="productName" [(ngModel)]="productData.productName"
                                placeholder="Product name"></th>
                    </tr>
                </table>
                <h6 class="wait"></h6>
                <button type="submit" class="btn btn-success active">Submit</button>

            </form>
        </div>

    </div>
</div>