
.navbar{
    background:black;
    height: 70px;
    border-radius: 10px;
} 
.icon{
    width: fit-content;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 32px;
    font-family: Ariala;
    padding-left: 20px;
    float: left;
    padding-top: 5px;
}
.menu{
    float: right;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 5px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
p{
    color: #fff;
    margin: 6px;
}
table{
    align-self: center;
}
.form input{
    width: 100%;
    height: 35px;
    background: transparent;
    border: 1px solid #ff7200;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
th{
    margin-top: 5px;
}
.card{
    margin-top: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    margin-right: 30%;
    margin-left: 30%;
}
h6{
    color: #ff7200;
}