/* add-product.component.css */

.navbar{
    background:black;
    height: 70px;
    border-radius: 10px;
} 
.icon{
    width: fit-content;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 32px;
    font-family: Ariala;
    padding-left: 20px;
    float: left;
    padding-top: 5px;
}
.menu{
    float: right;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 5px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
h6{
    margin-left: 23px;
    font-size: 12px;
    color: #ff7200;
}
h5{
    color: #ff7200;
}

.product-form {
    justify-content: space-between;
  }
  
  .form-column {
    padding: 0 10px;
  }
  
  .form-section {
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }  
  
h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #111;
    border-radius: 5px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
  }
  
  input[type="number"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  